<!doctype html>
<html lang="en">
<meta charset="utf-8">

<title>scoop-fsearch: licenses</title>

<p>This document lists libraries used by scoop-fsearch and the licenses under which they are used.</p>
{{#each licenses}}

<hr>

<div>License: {{name}}</div>
<div>Used by:{{#each used_by}}
<a href="https://crates.io/crates/{{crate.name}}/{{crate.version}}">{{crate.name}} {{crate.version}}</a>{{#unless @last}},{{/unless}}{{/each}}
</div>
<details><summary>Full text</summary>
<pre>{{text}}</pre>
</details>
{{/each}}

<hr>

<div>License: Apache License 2.0</div>
<div>Used by: the Rust standard library</div>
<div><a href="https://www.apache.org/licenses/LICENSE-2.0">Full text</a></div>
